/*
*     Framing:
*     Default widths to 85-90% - thereby default to mobile view, accounting for qr-primary access; Up to ~4 across (clarify arrangement from imgs in S.Hanger grid)
*     Some interactability crucial, hovers, buttons, etc
*     Make it light
*/

@import "https://unpkg.com/open-props";
/*    elements useful to underlying structure */

body{
  background-color: var(--red-4);
  font-family: 'Ubuntu-Title', sans-serif;
  font-size: 1.75em;
}
*::selection{
  color: white;
  background: var(--red-6);
  text-shadow: none;
}
.header{
  margin-top: 1vh;
  font-size: 1.45em;
  line-height: 0;
}

.frame-divider{
  height: 5em;
}
.id{
  margin-left: 1vw;
  color: white;
  padding-bottom: 3vh;
  font-size:2em;
  text-shadow: var(--red-6) 5px 5px;
  text-decoration: none;
}
.title{
  color: white;
  font-size:2em;
  text-shadow: var(--red-6) 7px 7px;
  margin-left: 1vw;
}
.divider{
  height: 5vh;
}

.organizer-frame{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  aspect-ratio: 1/.7;
  background-color: white;
  margin: auto;
  border-radius: var(--radius-4);
  box-shadow: var(--inner-shadow-4), var(--red-6) 15px 15px;;
  transition: box-shadow .6s ;
}

.organizer-body{
  width: 60vw;
  aspect-ratio: 1/.7;
  margin: auto;
  padding-top: 2vh;
}

@media screen and (min-width:600px){
  .organizer-frame{
    width: 60vw;
    box-shadow: var(--inner-shadow-2);
  }
  .organizer-body{
    width: 48vw;
  }
  .organizer-frame:hover{
    box-shadow: var(--inner-shadow-4), var(--red-6) 15px 15px;
    transition: box-shadow .3s;
  }
}

@media screen and (min-width:1000px){
  .organizer-frame{
    width: 40vw;
    box-shadow: var(--inner-shadow-2);
  }
  .organizer-body{
    width: 32vw;
  }
  .organizer-frame:hover{
    box-shadow: var(--inner-shadow-4), var(--red-6) 15px 15px;
    transition: box-shadow .3s;
  }
  .frame-divider{
    height: 15vh;
  }
  .title{
    font-size:3em;
  }
}

@media screen and (min-width:1500px){
  .organizer-frame{
    width: 35vw;
    box-shadow: var(--inner-shadow-2);
  }
  .organizer-body{
    width: 27vw;
  }
  .organizer-frame:hover{
    box-shadow: var(--inner-shadow-4), var(--red-6) 15px 15px;
    transition: box-shadow .3s;
  }
  .frame-divider{
    height: 15vh;
  }
  .title{
    font-size:3em;
  }
}
